* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

audio {
  display: none;
}

body {
  background-color: #c4d2f5;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  font-family: Inter, sans-serif;
  gap: 30px;
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-track-title {
  font-size: 18px;
  font-weight: 700;
}

.player-track-artist {
  color: var(--gray, #909090);
  font-size: 15px;
  font-weight: 700;
}

.player-progress {
  display: flex;
  gap: 15px;
  align-items: center;
}

.player-progress-bar {
  background-color: #f6f6ef;
  height: 6px;
  width: 403px;
  border-radius: 50px;
}

.player-progress-inner {
  background-color: #e783bc;
}

.player-time {
  color: #909090;
  font-size: 15px;
  font-weight: 700;
}

.player-button {
  background-color: #e783bc;
  padding: 37px;
  width: fit-content;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}
